.row {
  text-align: center;
}

#header-bottom {
  position:relative;
}

#header-bottom>img {
  width:100%;
}
#bannertext {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  color: #ffffff;
}

#bannertext small {
  color: #ffffff;
}

/*Блок об услугах компании*/
#method>.row{

}
/*Блок об основных методах компании*/

.thumbnail {
  position: relative;
  padding: 0;
  margin: 0;
}

.thumbnail img {
  width: 100%;
}

#method .thumbnail{
  text-align: left;
}
.method_article{
  border:1px solid #dddddd;
  margin-top: 10px ;
}
.method_foto {
  padding: 0.5em;
}
.bar {
  text-align: center;
  border: 1px solid #aaaaaa;
  margin: 35px 5px;
  padding: 30px 10px;
  border-radius: 3px;
  position: relative;
}
#method {
  background-color: #ffffff;
}

.bar {
  background-color: #517baa;
}

.number {
  position: absolute;
  top: -25px;

}
